<div class="container">
  <header class="jumbotron">
    <h1>Welcome to {{title}}</h1>
    <h2>Most Popular Movies</h2>
    <p>This is the list of the most popular movies!</p>
  </header>

  <section class="row">
    <div class="form-group">
      <label class="label label-default col-sm-3">Quantity:</label>
      <!--<input type="number" min="5" max="{{maximun_list}}" class="form-control col-sm-9" id="quantity" name="quantity" [ngModel]="{{quantity_list}}" (click)="selectPopular({{quantity_list}})" />
      
      <!--<ul class="" id="list_movies" [(ngModel)]="popular_movies">
        <li></li>
      </ul>-->
    </div>
  </section>

  <footer class="jumbotron"></footer>
</div>
